.header__profile {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.header__profileImage {
  width: 40px;
  border-radius: 50%;
}

.header__toggleMenu {
  display: none;
  width: 100px;
  text-align: right;
  position: fixed;
  right: 17.5px;
}

.header__link {
  display: block;
  padding: 5px 0;
}

.header__profile:hover + .header__toggleMenu, .header__toggleMenu:hover {
  display: block;
}

.search {
  display: grid;
  grid-template: 125px auto / 1fr;
  place-items: end center;
}

.search__input[type='search'] {
  margin-top: 12.5px;
  border: 2px solid #fff;
  border-radius: 9em;
  padding: 5px 20px;
  width: 80%;
  max-width: 350px;
  background-color: rgba(80, 48, 80, 0.8);
}

.carousel__title {
  padding: 0 17.5px;
  margin-top: 30px;
}

.carousel__cards {
  display: flex;
  gap: 12.5px;
  overflow-x: auto;
  padding-bottom: 6px;
}

.card {
  margin: 12px 0;
  border-radius: 20px;
  height: 225px;
  min-width: 175px;
  transform-origin: left;
  transition: 0.5s all;
  overflow: hidden;
}

.card:first-child {
  margin-left: 17.5px;
}

.card:last-child {
  margin-right: 17.5px;
}

.carousel__cards:hover .card {
  opacity: 0.8;
}

.carousel__cards:hover .card:hover {
  transform: scale(1.1);
  opacity: 1;
}

.card:hover ~ .card {
  transform: translateX(17.5px);
}

.card__content {
  display: none;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
  position: relative;
  top: 40%;
  padding: 12px;
  height: 60%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  text-shadow: 0 0 5px #000;
}

.card:hover .card__content {
  display: flex;
}

.card__title {
  width: 100%;
  align-self: stretch;
}

.card__data {
  display: flex;
  justify-content: space-between;
  align-self: end;
  width: 100%;
  font-size: 12px;
}
