body {
  background: linear-gradient(#2f4f4f, #503050);
}

.mainContent {
  display: grid;
  place-items: center;
  min-height: 520px;
}

.login > :not(:last-child) {
  padding-bottom: 30px;
}

.login .thirdParty__btn {
  border: 2px solid #fff;
  padding: 5px 0 6px;
  background: none;
  font-size: 14px;
}

.login .thirdParty__btnIcon {
  margin-right: 5px;
  vertical-align: middle;
}

.login__form input {
  border-bottom: 2px solid #fff;
  padding: 2px 16px 8px;
  background: none;
}

.login__btn {
  padding: 8px 0;
  background: rgba(255, 255, 255, 0.2);
}

.login__recall {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.login__remember {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.login__footer a, .login__btn {
  font-weight: 600;
}

@media screen and (min-width: 540px) {
  .mainContent {
    min-height: 620px;
  }

  .login > :not(:last-child) {
    padding-bottom: 45px;
  }

  .login {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 42px 36px;
    background: rgba(255, 255, 255, 0.1);
  }
}
