.login {
  display: grid;
  place-items: center;
  min-height: 520px;
}

.login__container {
  display: grid;
  gap: 28px;
  width: 100%;
  max-width: 312px;
}

.login__title {
  width: fit-content;
  background: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: 800;
}

.login__buttons {
  display: grid;
  gap: 14px;
}

.login__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--saffron);
  opacity: 0.4;
}

.login__divider::before,
.login__divider::after {
  content: '';
  flex: 1;
  border-radius: 9em;
  height: 1.4px;
  background-color: var(--saffron);
}

.login__divider p {
  padding: 0 32px;
  user-select: none;
}

.login__footer {
  display: flex;
  justify-content: space-between;
}

.login__link {
  font-size: 14px;
  text-align: center;
}

.form {
  display: grid;
  gap: 16px;
}

.form__input {
  border: 0;
  border-bottom: 2px solid;
  padding: 8px;
  background: none;
  color: var(--white);
}

.form__input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.form__button {
  padding: 8px 0;
  width: 100%;
  color: var(--white);
}

.form__remember {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 1;
}

.form__checkbox {
  accent-color: var(--violet);
}

@media screen and (min-width: 540px) {
  .login__container {
    border: 1px solid;
    border-radius: 12px;
    padding: 32px;
    max-width: 400px;
    background-color: rgb(255 255 255 / 10%);
  }
}
